<% if refresh_interval %>
    <script language="JavaScript">
        window.setTimeout(function () {
        window.location.reload();
        }, <%= refresh_interval %> ); // time to auto refresh, periodically during daylight, until next sunrise at night
    </script>
<% end %>
<div id="results">
    <%= render partial: 'results' %>
</div>
